<div class="playingCards faceImages">
  <app-card *ngFor="let card of cardsInGame" [rank]="card['rank']" [suit]="card['suit']"></app-card>
</div>
<hr>
<p>Score: {{getTotalScore()}}</p>
<button type="button" (click)="giveAnotherCard()" [disabled]="getDisabled()">Give another card</button>
<button type="button" (click)="reset()">Reset</button>
<p>{{getMessage()}}</p>

